[submodule "tidb-docker-compose"]
	path = tidb-docker-compose
	url = https://github.com/pingcap/tidb-docker-compose
[submodule "docker-spark"]
	path = docker-spark
	url = https://github.com/big-data-europe/docker-spark
[submodule "docker-hadoop"]
	path = docker-hadoop
	url = https://github.com/big-data-europe/docker-hadoop
[submodule "docker-hive"]
	path = docker-hive
	url = https://github.com/big-data-europe/docker-hive
[submodule "kafka-stack-docker-compose"]
	path = kafka-stack-docker-compose
	url = https://github.com/conduktor/kafka-stack-docker-compose
[submodule "docker-elk"]
	path = docker-elk
	url = https://github.com/deviantony/docker-elk
[submodule "debezium-examples"]
	path = debezium-examples
	url = https://github.com/debezium/debezium-examples
[submodule "wordpress-docker-compose"]
	path = wordpress-docker-compose
	url = https://github.com/nezhar/wordpress-docker-compose.git
[submodule "docker-grafana-loki-fluent-bit-sample"]
	path = docker-grafana-loki-fluent-bit-sample
	url = https://github.com/thakkaryash94/docker-grafana-loki-fluent-bit-sample
