[submodule "tidb-docker-compose"]
	path = tidb-docker-compose
	url = https://github.com/pingcap/tidb-docker-compose
[submodule "docker-spark"]
	path = docker-spark
	url = https://github.com/big-data-europe/docker-spark
[submodule "docker-hadoop"]
	path = docker-hadoop
	url = https://github.com/big-data-europe/docker-hadoop
[submodule "docker-hive"]
	path = docker-hive
	url = https://github.com/big-data-europe/docker-hive
